    {% extends 'base.html' %}
    {% block content %}
    <div style="padding: 10px; margin-left: 30px;">
        <h3>Aclchecker v 0.10 beta</h3><br>
        <h4>Changelog</h4><br>
        - Бэкенд переписан на Flask<br>
        - Добавлена аутентификация через TACACS<br>
        - Добавлена работа с Arista<br>
        - Убрал из кода логин и пароль на сетевое оборудование, теперь скрипт запускается с теми учетными данными, с которыми залогинился пользователь<br>
        - Добавил таймаут сессии<br>
        - Пофиксил ошибку с маршрутами в Null<br>
        - Написал валидацию вводимых данных<br>
        - Доработан интерфейс<br>
        - Добавлен TTL для зациклившихся маршрутов (TTL = 20)<br>
        - Реализована многопоточность (Celery)<br>
        - Добавлено шифрование для вводимые учетных данных и ключа TACACS<br>
        - Добавлена обработка разрывных масок (вида 0.1.0.255)<br>
        - Добавлен модуль работы с Cisco ASA<br>
        - Добавлен вывод данных в реальном времени<br>
        - Различные исправления и оптимизация<br>
    </div>
</body>
{% endblock %}